<div>
  <p id="links"><strong id='red' style='color: red'>Red: Human (you!)</strong><br />
    <strong id='blue' style='color: blue'>Blue: Your Browser</strong><br />
    Rules are <a href="http://en.wikipedia.org/wiki/English_draughts">here</a>. Or, <a href="javascript:void(0)" (click)="switchSides()">switch sides</a>.
  </p>
  <canvas id="checkers"></canvas>
  <p><em>Predictions made last turn: <span id="predictor">0</span>. The AI will be effective if your browser can pull off at least 10,000.</em></p>
</div>

