<div>
  <h2>About Us</h2>
  <img src="./img/about.jpg">
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada
    fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
    tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
  <br>
  <hr>
  <p>Email: {{email}} </p>
  <p>Phone: 555-555-5555</p>
  <p>2600 rue College, Lennoxville, QC</p>
  <h4>Please do keep in touch. We really appreciate hearing from everyone!</h4>
</div>
