<header>
  <img src="./img/logo.jpg">
  <div class="nav">
    <ul>
      <li class="home"><a [routerLink]="['/']" href="javascript:void(0)">Home</a></li>
      <li class="tutorials"><a [routerLink]="['/leaderboard']" href="javascript:void(0)">Leaderboards</a></li>
      <li class="about"><a [routerLink]="['/rules']" href="javascript:void(0)">Rules</a></li>
      <li class="about"><a [routerLink]="['/loft']" href="javascript:void(0)">Play!</a></li>
      <li class="news"><a [routerLink]="['/about']" href="javascript:void(0)">About</a></li>
      <li class="news"><a [routerLink]="['/profile']" href="javascript:void(0)">Profile</a></li>
      <li class="contact"><a [routerLink]="['/login']" href="javascript:void(0)">Login</a></li>
    </ul>
  </div>
</header>

<router-outlet></router-outlet>

